<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tju.modelsearch.dao.modelMapper" >

    <select id="selectModelById"  resultType="ModelSql" parameterType="String">
        SELECT * FROM ${table} WHERE ID = #{id} ;
    </select>

    <select id="selectByClass"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ${table}
        where className = #{className} and subclassName = #{subclassName}
    </select>

    <insert id="insertModel" parameterType="cn.tju.modelsearch.domain.ModelSql"
            useGeneratedKeys="true" keyProperty="modelSql.ID">
        insert into ${table}
        (filePath,ID,imgPath,author,className,subClassName,size)
        values
        (#{modelSql.filePath},#{modelSql.ID},#{modelSql.imgPath},#{modelSql.author},#{modelSql.className},#{modelSql.subclassName},#{modelSql.size})
    </insert>

    <update id="updateModel" parameterType="cn.tju.modelsearch.domain.modifyModel">
        update ${table}
        <set>
            <if test="modifyModel.type != null">className=#{modifyModel.type},</if>
            <if test="modifyModel.attr != null">subclassName=#{modifyModel.attr},</if>
            <if test="modifyModel.size != null">size=#{modifyModel.size}</if>
        </set>
        where ID=#{modifyModel.ID}
    </update>

    <update id="updateDownload" parameterType="int">
        update ${table}
        <set>
            <if test="downloadTimes != 0">downloadTimes=${downloadTimes}</if>
        </set>
        where ID=#{ID}
    </update>

    <delete id="deleteById">
        DELETE FROM ${table}
        WHERE ID = #{ID}
    </delete>
</mapper>

