<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tju.modelsearch.dao.sumMapper" >

    <select id="selectSumByDate"  resultType="sum" parameterType="String">
        SELECT * FROM ${table} WHERE date = #{date} ;
    </select>

    <insert id="insertSum" parameterType="String">
        insert into ${table}
        (login,regis,detail,download,date)
        values
        (0,0,0,0,#{date})
    </insert>

    <update id="updateSum" parameterType="cn.tju.modelsearch.domain.sum">
        update ${table}
        <set>
            <if test="sum.login != 0">login=${sum.login},</if>
            <if test="sum.regis != 0">regis=${sum.regis},</if>
            <if test="sum.detail != 0">detail=${sum.detail},</if>
            <if test="sum.download != 0">download=${sum.download}</if>
        </set>
        where date=#{sum.date}
    </update>

</mapper>

